<div class="row margin-top">
  <div class="small-12 medium-3 column">
    <%= render "shared/back_link" %>

    <ul class="menu vertical margin-top">
      <li><a href="#i"><strong><%= t('pages.more_information.description.detailed_process') %></strong></a></li>
    </ul>
  </div>

  <div class="small-12 medium-9 column">
    <h1><%= t('pages.more_information.titles.debates_info') %></h1>
    <p>Resumen del funcionamiento de los debates</p>
    <h2 id="i"><%= t('pages.more_information.description.detailed_process') %></h2>
    <p>Descripción detallada del funcionamiento de los debates.</p>
  </div>
</div>
