// 

// 0. Custom variables
// --------------------

$base-font-size:      rem-calc(17);
$base-line:           rem-calc(26);
$small-font-size:     rem-calc(14);
$line-height:         rem-calc(24);
$tiny-font-size:      rem-calc(12);

$brand:             #446336;
$dark:              darken($brand, 10%);

$text:              #222222;
$text-medium:       #515151;
$text-light:        #BFBFBF;

$border:            #DEE0E3;

$link:              #79AA64;
$link-hover:        darken($link, 20%);

$debates:           $brand;

$like:              #7BD2A8;
$unlike:            #EF8585;

$delete:            #F04124;
$check:             #46DB91;

$proposals:         #EAC102;
$proposals-dark:    #794500;

$budget:            #454372;
$budget-hover:      #7571BF;

$highlight:         #F8EEC6;
$featured:          #EAC102;

$footer-border:     #BFC1C3;

$success-bg:        #DFF0D8;
$success-border:    #D6E9C6;
$color-success:     #3C763D;

$info-bg:           #F7F1DA;
$info-border:       #EDDD9E;
$color-info:        darken($brand, 10%);

$warning-bg:        #FCF8E3;
$warning-border:    #FAEBCC;
$color-warning:     #8A6D3B;

$alert-bg:          #F2DEDE;
$alert-border:      #EBCCD1;
$color-alert:       #A94442;


// 1. Global
// ---------

$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$foundation-palette: (
  primary: #79AA64,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);
