// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
//
// FOUNDATION SETTINGS COLOR OVERRIDES

// 0. Custom variables
// --------------------

$brand:             #446336;
$dark:              darken($brand, 10%);

$text:              #222222;
$text-medium:       #515151;
$text-light:        #BFBFBF;

$border:            #DEE0E3;

$link:              #79AA64;
$link-hover:        darken($link, 20%);

$debates:           $brand;

$like:              #7BD2A8;
$unlike:            #EF8585;

$delete:            #F04124;
$check:             #46DB91;

$proposals:         #EAC102;
$proposals-dark:    #794500;

$budget:            #454372;
$budget-hover:      #7571BF;

$highlight:         #F8EEC6;
$featured:          #EAC102;

$footer-border:     #BFC1C3;

$success-bg:        #DFF0D8;
$success-border:    #D6E9C6;
$color-success:     #3C763D;

$info-bg:           #F7F1DA;
$info-border:       #EDDD9E;
$color-info:        darken($brand, 10%);

$warning-bg:        #FCF8E3;
$warning-border:    #FAEBCC;
$color-warning:     #8A6D3B;

$alert-bg:          #F2DEDE;
$alert-border:      #EBCCD1;
$color-alert:       #A94442;


// 1. Global
// ---------

$primary-color: #79AA64;

$foundation-palette: (
  primary: #79AA64,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);



//button

.button {
  background: $brand;
  &:hover {
    background: $primary-color!important;
  }
}
