

//participation overrides


// 03. Show participation
// ----------------------

.debate-show,
.proposal-show,
.investment-project-show {
  aside {
    h2 {
      border-top: 2px solid $brand;
    }
  }

  .document-link, .video-link {
    :before {
      color: $brand;
    }
  }
}

// 06. Proposals successfull
// -------------------------

.dark-heading {
  background: darken($brand, 20%);

  .info {
    background: darken($brand, 15%);
  }
}
.featured-proposals-ballot-banner {
  background: darken($brand, 15%) image-url("ballot_tiny.gif") no-repeat;

  @include breakpoint(large) {
    background: darken($brand, 15%) image-url("ballot.gif") no-repeat;
  }
}

.verify-account {
  .pending-verification {
    background: $info-bg;
    color: $color-info;
    line-height: $line-height*2;
  }

.auth-page {
  background: $brand image-url("auth_bg.jpg") no-repeat top center fixed;
  background-size: cover;
}
