// Logo devise
.auth-image h1 a {
  line-height: 2.5rem;
}

//participation overrides
// 03. Show participation
// ----------------------

.debate-show,
.investment-project-show,
.proposal-show {
  aside {
    h2 {
      border-top: 2px solid $brand;
    }
  }

  .document-link,
  .video-link {
    :before {
      color: $brand;
    }
  }
}
// 06. Proposals successfull
// -------------------------

.dark-heading {
  background: darken($brand, 20%);

  .info {
    background: darken($brand, 15%);
  }
}

.featured-proposals-ballot-banner {
  background: darken($brand, 15%) image-url("ballot_tiny.gif") no-repeat;
  @include breakpoint(large) {
    background: darken($brand, 15%) image-url("ballot.gif") no-repeat;
  }
}

.auth-page {
  background: $brand image-url("auth_bg.jpg") no-repeat top center relative;
  background-size: cover;
  @media only screen and (max-width: 40em) {
    background-image: none;

    h1:not(.logo) {
      margin-bottom: rem-calc(20);

      a {
        line-height: rem-calc(45); // Same as logo image height

        img {
          margin-right: rem-calc(10);
        }
      }
    }
  }
}

.verify-account {
  .pending-verification {
    background: $info-bg;
    color: $color-info;
    line-height: $line-height*2;
  }
}
// volver link

.back {
  @media only screen and (max-width: 40em) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.button.float-right ~ .button.float-right {
  margin: 0;
}

.button.float-right {
  margin-left: $line-height/2;
}

// Votes thumbs fixes

.debate, .debate-show {

  .votes {
    @include votes;
    padding-left: 10px!important;
    @media only screen and (max-width: 40em) {
        padding-left: 0!important;
    }
    .against {
      margin-left: 0;
    }
    .like {
      @media only screen and (max-width: 40em) {
          padding: 0;
      }
    }
    .divider{
      display: none;
    }
    @include breakpoint(medium) {
      text-align: center;
    }
  }
}
